// TEXT
.txt {
  //Text Decoration
  &-underline {
    text-decoration: underline;
  }

  //Text Align
  &-start {
    text-align: start;
  }
  &-center {
    text-align: center;
  }
  &-end {
    text-align: end;
  }

  //Text Color gray
  &-gray-50 {
    background: $gray-50;
  }
  &-gray-100 {
    background: $gray-100;
  }
  &-gray-200 {
    background: $gray-200;
  }
  &-gray-300 {
    background: $gray-300;
  }
  &-gray-400 {
    background: $gray-400;
  }
  &-gray-500 {
    background: $gray-500;
  }
  &-gray-600 {
    background: $gray-600;
  }
  &-gray-700 {
    background: $gray-700;
  }
  &-gray-800 {
    background: $gray-800;
  }
  &-gray-900 {
    background: $gray-900;
  }

  //Text Color blue gray
  &-blue-gray-50 {
    color: $blue-gray-50;
  }
  &-blue-gray-100 {
    color: $blue-gray-100;
  }
  &-blue-gray-200 {
    color: $blue-gray-200;
  }
  &-blue-gray-300 {
    color: $blue-gray-300;
  }
  &-blue-gray-400 {
    color: $blue-gray-400;
  }
  &-blue-gray-500 {
    color: $blue-gray-500;
  }
  &-blue-gray-600 {
    color: $blue-gray-600;
  }
  &-blue-gray-700 {
    color: $blue-gray-700;
  }
  &-blue-gray-800 {
    color: $blue-gray-800;
  }
  &-blue-gray-900 {
    color: $blue-gray-900;
  }

  //Text Color black
  &-black {
    color: $black;
  }

  //Text Color white
  &-white {
    color: $white;
  }
}
