@import "../mixins/stylfy-generic-color";

@mixin text-color {
  @include generic-color();
}

@mixin text-align {
  &-st {
    text-align: start;
  }
  &-lt {
    text-align: left;
  }
  &-cr {
    text-align: center;
  }
  &-ed {
    text-align: end;
  }
  &-rt {
    text-align: right;
  }
  &-jf {
    text-align: justify;
  }
}

@mixin text-decoration {
  &-un {
    text-decoration: underline;
  }
  &-un {
    text-decoration: underline;
  }
}
